
.swal2-container {

}
.pagination nav > .flex {
    display: none;
}
.pagination nav > .hidden span.relative svg {
    width: 30px;
}



@media only screen and (max-width: 887px) {
    .margin-t {
        margin-top: 15px;
    }
}
